.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
}

html, body{
    margin: 0;
    height: 100%;
}


.container{
    
    width: 100%;
    height: 100%;
    border: none;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #200675;
    height: 80px; 
    width: 100%;
    position: fixed;
}

.button{
display: inline-block;
padding: 0.46em 1.6em;
border: 0.1em solid #000000;
margin: 0 0.2em 0.2em 0;
border-radius: 0.12em;
box-sizing:  border-box;
text-decoration: none;
font-family: 'Roboto',sans-serif;
font-weight: 300;
color: #000000;
text-shadow:  0 0.04em 0.04em rgba(0,0,0,0.35);
background-color: #FFFFFF;
text-align: center;
transition:  all 0.15s;
}

.button:hover{
text-shadow:  0 0 2em rgba(255,255,255,1);
color: #FFFFFF;
border-color: #FFFFFF;
}

.buttons{
    margin: 0;
}

.logo img{
    width: 250px;
    margin-left: 30px;
}


.main{
    overflow:auto; 
    width: 100%;
    padding-top: 100px;
}

h1{
    text-align: center;
}

.stats{
    display: flex;
    justify-content: center;
    align-items: center;
}

.stats h3{
    margin: 50px;
}

.grid line {
  stroke: lightgrey;
  stroke-opacity: 0.7;
  shape-rendering: crispEdges;
}

.grid path {
  stroke-width: 0;
}

.graph{
    margin: 0 20%;
    width: 60%;
    height: 300px;
    background-color: gray;
    background-image: repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(255,255,255,.5) 35px, rgba(255,255,255,.5) 70px);
}