/* Bordered form */
/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    height: 50px;
}

label {
    display: block;
}

/* Set a style for all buttons */
button {
    background-color: #0118A6;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;

}


/* Center the avatar image inside this container */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    
}

/* Avatar image */
img.logo {
    width: 70%;
    border: 1px solid white;
}

/* Add padding to containers */
.container {
    position: relative;
    top: 50px;
    text-align: center;
    padding: 10px 50px;
    box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08);
    border: 1px solid #eee;
    width: 450px;
}

#title {
    color: #0118A6;
    font-size: 150%;
}


#loginBtn{
display:inline-block;
padding:0.35em 1.2em;
margin: 10px 0;
background-color:#0018A8;
box-sizing: border-box;
text-decoration:none;
font-family:'Roboto',sans-serif;
font-weight:300;
color:white;
text-align:center;
transition: all 0.2s;
height: 50px;
border:5px solid #0018A8;
font-size: 17px;

}

#loginBtn:hover{
border:5px solid #3246b9;
}
#helpBtn{
    color: #0018A8;
    cursor: pointer;
    margin: 10px;
}

#helpBtn.nav-link.dropdown-toggle{
    color: white;
    margin: 0;
}