/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 09-Aug-2018, 12:12:05
    Author     : Graduate
*/
.topPanel { 
    
    position: fixed;
    border: 1px solid #ccc;
    background: white;
    padding: 20px;
    z-index: 2;

}
.wrapper {
    display: grid;
    grid-template-columns: 50% 50%;	
    position: relative;   
}
.box {
    position: relative;
    /*     border-style: solid;
        border-width:medium;*/
}

.grid-container {
  display: grid;
  grid-template-columns: 50% 50%;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  /*border: 1px solid rgba(0, 0, 0, 0.8);*/
  font-size: 30px;
  text-align: center;
}

