body {
    z-index: 1;

}

#container {
    width: 100%;
    height: 100%;
    position: relative;
}

#title {
    display: none;
}

#FilterableTable {
    width: 100%;
    height: 100%;
}

.SearchBar { 
    display: inline; 
    position: relative;
    left: 1%;
    clear: both;
}

.SearchBar input {
    position: relative;
    left: 2%;

}
.Pagination {
    position: absolute;
    bottom: 4%;
    right:10%;
   
    box-sizing: border-box;
    border-radius: 5px;
    
}

#prev, #firstpage, #firstdots, #currpage, #seconddots, #lastpage, #next, #forward, #backward {
color :#575962;
background-color :white;
border: none;
padding: 5px;

}
#currpage{
    background-color: #000D72;
    color: white;
}
table { 

    margin-bottom: 80px;
    background-color: #62b6cffc;
    border-collapse: collapse;
    border-spacing: 0;
    display: table;
    width: 100%;
}

table a:link, a:visited { text-decoration: none; }

table a:hover, a:active { text-decoration: underline; }

/*table, th, td { border: 1px solid black; }*/

td, th {
    padding: 5px;
    text-align: center;
    height: 20px;
}

th {
    background-color: #000D72;
    color: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1), inset 0 1px 0 white, inset 0 -1px 0 rgba(255,255,255,0.7);
    font-size: 16px;
}

td { background-color: white; 
     border-style: solid;
     border-width: 1px;}

tr:hover td { background-color: #edf8b1; }

th.des:after {
    content: "\2002 \25b2";
}

th.aes:after {
    content: "\2002 \25bc";
}

.header:hover, th:hover {
    color: yellow;
    cursor: pointer;
}

#dropdown{
    width: 20%;
    height: 40px;
    padding: 11px 20px;
    margin: 16px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
}

#search{
    width: 40%;
    height: 40px;
    padding: 12px 20px;
    margin: 16px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
}

#dropdown2{
    width: 20%;
    padding: 11px 20px;
    margin: 16px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
    clear: both;
}


#search2{
    width: 40%;
    height: 40px;
    padding: 12px 20px;
    margin: 16px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
}

td > a {
    color: #001FDB;
}


    #addtest{
        margin-left: 40px;
    }
    
    
    #addtest{
        display: inline-block;
        font-size: 20px;
        color: #000D72;
        width: 30%;
    }
    
    
