.logo_cover{
    text-align: center;
    width: 25%;
}

.logo_cover > img {
    
    width: 100%;
}

h1{
    font-size:60px;
    color:#0118A6;
    text-align: center;
}
.cover-div {
    background:white;
    position:fixed;
    padding:100px;
    margin:0;

    top:0;
    left:0;

    width: 100%;
    height: 100%;
    z-index:1002;
    
    flex-direction: column;
    align-items: center;
}
