/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13-Aug-2018, 15:10:53
    Author     : Graduate
*/
.photo i {
    color: #000D72;

}
.main-header{
    background: #000D72;
    border-bottom: none;
}
.navbar .navbar-nav .nav-item .nav-link {
    color: #fff;
    padding: 0 10px;
}


/*.navbar-expand-lg .navbar-nav:hover {
    box-shadow: inset 0 0 0 50px rgba(0, 0, 0, 0.1);

}

.navbar-expand-lg .navbar-nav:active {
    box-shadow: inset 0 0 0 50px rgba(0, 0, 0, 0.2);

}*/

.nav-item.dropdown.hidden-caret:hover {
     box-shadow: inset 0 0 0 50px rgba(0, 0, 0, 0.1);
}

.nav-item.dropdown.hidden-caret:active {
     box-shadow: inset 0 0 0 50px rgba(0, 0, 0, 0.2);
}


.main-header .logo-header {
    border-right: none;
}
.sidebar .nav .nav-item.active a i {
    color: #191AA3;
}
.sidebar .user .photo {
    border-radius: 0;
}
.sidebar .user .photo img {
    width: 80%;
    height: 80%;
    margin: 23% 10%;
}
.sidebar .user .photo {
    width: auto;
    height: auto;
    font-size: 41.8px;
}

.card-stats .icon-big {
    display: flex;
    align-items: center;
    justify-content: center;
}

.value_span{
    font-weight: bold;
    font-size: 1.1em;
    letter-spacing: 0.5px;
}

h4.page-title{
    font-size: 25px;
    margin: 10px 0 30px 0;
}


.iconcontainer{ 
   
    display: flex;
    align-items: center;
}
.iconcontainer > * {
    margin-left: 15px;
}


.card-success{
    background: #990000;
}
.card-danger{
    background: #660066 ;
}
.card-primary{
    background: #000d72;
}
.ending{
    background: #0d7200;
}

.infffo{
    display: flex;
    justify-content: flex-start;
}


h4.info {
    width: 450px;
    font-size: 16px;
    
}

.info > span{
    font-weight: bold;
    color: #000D72;
    font-size: 18px;
}

#counter_name{
    text-transform: uppercase;
    color: #000D72;
    font-weight: bold;
    letter-spacing: 0.5px;
}

.instr_box{
    width: 220px;
    height: 90px;
    background: white;
    margin: 0 20px;
    padding: 10px 20px;
    box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08);
    border: 1px solid #eee;
}

.multiple-items{
    margin-bottom: 30px;
}

.name_inst{
    font-size: 20px;
    margin-bottom: 3px;
}

.price_inst{
    font-size: 15px;
}

a, a:hover {
  color: inherit;
  text-decoration: inherit;
}

.fas.fa-chart-bar{
    margin-left: 10px;
    font-size: 22px;
    color: #000D72;
}

hr{
    margin-bottom: 10px;
    margin-top: 0;
}
